.verde{
    color:green;
    text-align: center;
}

.cor{
    color:rgb(49, 166, 212);
}

#nova{
    color: black;
    background-color:aquamarine;
    border-style: solid;
    border-color:black;
}

*{
    background-color:black; 
    color: aliceblue;
}

.oi{
    border-style: solid;
    border-width: ;
    border-color: rgb(32, 226, 14);
    border-radius: 5px;
    background-color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

textarea{
    background-color: aliceblue;
    border-color: green;
    border-style: solid;
    border-left: 8px solid green;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

hr{
   border-color:aquamarine;
}